img:hover {
    cursor: pointer;
}

#img1 {
    width: 100%;
    height: 550px;
    border-bottom: 1.5px solid black;
    margin-bottom: 30px;
}
.products {
    /* display: flex; */
    /* align-items: flex-start; */
    border: 1px solid black;
    height: auto;
    overflow: scroll;
    overflow-y: hidden;
    /* overflow-x: auto; */
    display: grid;
    /* gap:var(span); */
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: auto;
    /* overscroll-behavior-inline: contain; */
}
 .products::-webkit-scrollbar,
.breakout-brands::-webkit-scrollbar {
    display: none;

 
} 


.children {
    /* border: 1px solid red; */
    height: 300px;
}

.child1 {
    /* border: 1px solid red; */
    width: 420px;
    height: 100%;
    display: flex;
}

span {
    /* transform: rotate(-90deg);
    margin-bottom: 100px;
    font-size: 20px; */
    /* position: absolute;
    /* transform: rotate(-90deg); */
    /* transform-origin: left bottom; */
    /* left: 100%;
    bottom: 0px;
    padding: 5px;
    width: 300px;
    color: black;
    font-size: 23px;
    font-weight: bold;  */
    /* height: 300px; */
    /* overflow: hidden; */
    /* position: relative; */
    /* width: 100px; */
    bottom: 11px;
    font-weight: 400;
    left: 100%;
    line-height: 1;
    padding: 5px;
    position: relative;
    /* text-transform: uppercase; */
    transform: rotate(-90deg);
    transform-origin: bottom left;
    width: 300px;
    font-weight: bold;
    
    
}

.title {
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    margin-left: 60px;
}

.image {
    /* border: 1px solid red; */
    width: 100%;
}

.inside-image {
    width: 110%;
    height: 100%;
    border-right: 1px solid black;
}


/* <-- pop of message css --> */
#container{
    width: 30%;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    padding: 0px 50px;
}
#qr{
    width: 120px;
    height: 120px;
}

#img2{
   display: grid;
   justify-content: center;
}
h1,h3,p{
    text-align: center;
}
#img3{
   display: grid;
   justify-content: center;
}
#cross1{
    width: 40px;
    height: 40px;
}
#cross{
    display: flex;
    justify-content: flex-end;
    margin-left: 120px;
}